* {
    margin: 0;
    padding: 0;
}

.hc-header {
    height: 95px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 10px #ddd;
    position: fixed;
    top: 40px;
}

.hc-header .layui-nav {
    position: absolute;
    right: 12%;
    top: 0;
    padding: 0;
    line-height: 95px;
    background: none;
    height: 100%;
}

.hc-header .layui-nav .layui-nav-item {
    margin: 0 25px;
}

.hc-header .layui-nav .layui-nav-item .layui-nav-child a {
    font-size: 18px;
}

.hc-header .layui-nav .layui-nav-more {
    border-top-color: rgba(0, 0, 0, .7);
}

.hc-header .layui-nav .layui-nav-mored,
.hc-header .layui-nav-itemed .layui-nav-more {
    border-top-color: #fff;
    border-bottom-color: #000
}

.hc-header .layui-nav-item a {
    color: #8a8a8a;
}

.hc-header .layui-this a,
.hc-header .layui-nav-item a:hover {
    color: #333333;
}

.hc-header .layui-main {
    height: 100%;
}

.hc-logo {
    height: 95px;
    width: 240px;
    display: block;
    margin-left: 12%;
    text-align: center;
    line-height: 95px;
}

.logo {
    height: 50px;
    width: 100%;
}

.hc-hide-md {
    display: none !important;
}

@media screen and (max-width:968px) {
    .hc-hide-sm {
        display: none !important;
    }
    .hc-show-sm {
        display: inline-block !important;
    }
}

@media screen and (max-width: 1140px) {
    .layui-main {
        width: auto;
        /*margin: 0 10px;*/
    }
}

.banner {
    height: 100%;
    width: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    /*初始状态 透明度为0*/
    /* 30% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {
        opacity: 1;
    }
    /*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {
    /*针对webkit内核*/
    0% {
        opacity: 0;
    }
    /* 30% {opacity: 0;}  */
    100% {
        opacity: 1;
    }
}

.footer {
    width: 100%;
    height: 310px;
    background-color: #333333;
    margin-top: 349px;
    position: relative;
}

.back {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    display: none;
}

